.row-1{
    margin: 30px 10px;
}

.heading{
   width: 900px;
   font-weight: 600;
   text-align: center;
   font-size: 20px;
   justify-content: center;
   align-items: center;
   display: block;
   margin: auto;
}
.ending{
    width: 900px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
}
.img-wwb{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: auto;
    border-radius: 200px;
    width : 50%;
}

.img-wwh{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: auto;
    margin-top: 20px;
    border-radius: 200px;
    width : 70%;
}

.img-wwo{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: auto;
    margin-top: 30px;
    border-radius: 100px;
    width : 60%;
}

.img-ov{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: auto;
    border-radius: 200px;
    width : 70%;
}