.options {
  margin: 0;
  padding: 0;
  position: absolute;
}
.navbar {
}

.item {
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 18px;
  text-transform: capitalize;
}

.cart {
  position: relative;
}

.amount {
  position: relative;
  left: 7px;
  top: -2px;
  color: #fff;
  z-index: 0;
  font-size: 16px;
  &::after {
    content: "";
    background-color: #0d6efd;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: -5px;
    top: 0.7px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 796px) {
  .search,
  .all-courses {
    display: none;
  }
}

// ul * + * {
//   margin: 0;
// }
