.options {
  margin: 0;
  padding: 0;
  position: absolute;
}

.item {
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 18px;
  text-transform: capitalize;
}

.hl {
  background: #ffc600;
}
