.options {
  margin: 0;
  padding: 0;
  position: absolute;
}
.navbar {
}

.item {
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 18px;
  text-transform: capitalize;
}

.cart {
  position: relative;
}

.amount {
  position: relative;
  left: 7px;
  top: -2px;
  color: #fff;
  z-index: 0;
  font-size: 16px;
  &::after {
    content: "";
    background-color: #0d6efd;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: -5px;
    top: 0.7px;
    border-radius: 50%;
  }
}

.hamburger-icon {
  margin-left: auto;
  position: relative;
  z-index: 199;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -50%;
  bottom: 0;
  width: 60%;
  background-color: #fff;
  z-index: 99;
  transition: all 0.3s ease-in;
  padding-top: 20%;
}

.mobile-menu.show {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

// .mobile-nav-items {
//   margin-bottom: 10px;
// }

// li:last-child {
//   margin-bottom: 0;
// }

@media screen and (max-width: 1160px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    display: block !important;
  }
}

@media screen and (min-width: 1160px) {
  .desktop-nav {
    display: block !important;
  }
  .mobile-nav {
    display: none !important;
  }
}

@media screen and (max-width: 796px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .all-courses,
  .logoutBtn {
    display: none;
  }
  .hamburger-icon {
    display: block !important;
  }
  .logo-img {
    width: 0% !important;
  }
  .my-courses {
    margin-left: auto !important;
  }
}
.logoutBtn {
  margin-left: auto;
}

// ul * + * {
//   margin: 0;
// }
