/* .container {
  display: flex;
  margin-top: 10px;
} */

.featured .featuredItem {
  cursor: default;
}

.link {
  text-decoration: none;
  color: inherit;
}

.buttons-wrapper {
  text-align: right !important;
}
