.divlayout{
    margin: auto;
    width: 1000px;
    height: auto;
}
.img {
    width: 300px;
    height: auto;
}

.topLine {
    padding-top: 30px;
}

.creatorName {
    font-size: 35px;
    font-weight: 500;
    padding-left: 60px;
}

.creatorInformation{
    font-size: 15px;
    padding-left: 60px;
}

.middleLine {
    padding-top: 50px;
}

.titleInfo {
    font-size: 25px;
    font-weight: 300;
}

.coursetitle{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}

.aboutInfo {
    font-size: 15px;
}


.previous-reviews{
    border: 0.5px ridge black;
    border-radius: 5px;
    padding: 6px 6px;
    margin: 5px;
  }
  .label_name{
    padding-top: 10px;
  }
  .btn_submit{
    margin: 20px 0;
  }
  .review-form {
    .form-group {
      margin-bottom: 1.5rem;
    }
  
    .rating {
      display: inline-block;
  
      label {
        margin-right: 1rem;
        cursor: pointer;
        
  
        input[type="radio"] {
          display: none;
  
          &:checked ~ span {
            color: #ffc107;
          }
        }
  
        span {
          font-size: 2rem;
          color: #ddd;
          transition: color 0.2s ease-in-out;
  
          &:hover {
            color: #ffc107;
          }
  
          &.active {
            color: #ffc107;
          }
        }
      }
    }
  
    button[type="submit"] {
      margin-top: 1rem;
    }
  }
  