.topLine {
    padding-top: 30px;
}

.creatorName {
    font-size: 30px;
    font-weight: 500;
}

.middleLine {
    padding-top: 50px;
}

.titleInfo {
    font-size: 20px;
    font-weight: 300;
}

.aboutInfo {
    font-size: 15px;
}