.font{
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    text-align: center;
    
}

.lcfont{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 100px;
    
}

.center {
    text-align: center;
    margin-top: 40px;
}

.btn1 {
    background-color: plum;
    color: maroon;
    font-size: 40px;
    margin-right: 40px;
    padding: 10px 60px;
    border-radius: 5px;
    cursor: pointer;
}

.btn2 {
    background-color: plum;
    color: maroon;
    font-size: 40px;
    padding: 10px 60px;
    border-radius: 5px;
    margin-left:40px;
    cursor: pointer;
}

.img1 {
    width: 100%;
    padding-right: 100px;
    margin-right: 330px;
}

.img2 {
    width: 100%;
    padding-left: 100px;
    margin-left: 350px;
}

.img3 {
    width: 100%;
    margin-right: 400px;
}

.img4 {
    width: 100%;
    margin-left: 450px;
}