.title {
  font-size: 70px;
  line-height: 1.3em;
}
.subtitle {
  width: 30vw;
  margin-top: 1em;
  font-size: 22px;
  font-weight: 400;
}
.about {
  margin-top: 4em;
  font-weight: 600;
}

.social-proof {
  margin-top: 200px !important;
}
