ul {
  * + * {
    margin-top: 20px;
  }
}

li {
  font-size: 18px;
}

.accordion-button {
  font-size: 20px;
}

.course-description,
.creator-description {
  line-height: 180%;
  font-size: 20px;
}

.instructor-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bottom {
  margin-bottom: 500px;
}

.previous-reviews {
  border: 0.5px ridge black;
  border-radius: 5px;
  padding: 6px 6px;
  margin: 5px;
}
.label_name {
  padding-top: 10px;
}
.btn_submit {
  margin: 20px 0;
}
.review-form {
  .form-group {
    margin-bottom: 1.5rem;
  }

  .rating {
    display: inline-block;

    label {
      margin-right: 1rem;
      cursor: pointer;

      input[type="radio"] {
        display: none;

        &:checked ~ span {
          color: #ffc107;
        }
      }

      span {
        font-size: 2rem;
        color: #ddd;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #ffc107;
        }

        &.active {
          color: #ffc107;
        }
      }
    }
  }

  button[type="submit"] {
    margin-top: 1rem;
  }
}

.review-card {
}

@media screen and (max-width: 992px) {
  .course-content {
    text-align: center;
  }
  .week-item {
    width: 100% !important;
  }
}
