.certificate {
  //   border: 1px solid #000000; /* adjust the border width and color here */
  box-sizing: border-box;
}

.congrats {
  position: relative;
  left: 2%;
  bottom: 2%;
}

@media screen and (max-width: 768px) {
  .certificate {
    width: 100% !important;
  }
}
